.bannerSection {
    height: 10vh;
}

.headerSection {
    height: 20vh;
}

.buttonSection {
    height: 70vh;
}

body {
    background-color: #e0dedc !important;
    font-family: "Mercury Display" !important;
    height: 100%;
}

.bannerRow {
    color: white;
    background-color: #12395b !important;
}

img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.backButton {
    position: absolute;
    z-index: 5;
    width: 17%;
}

#backButtonImage {
    width: 100%;
    padding-top: 3px;
}

.bannerImageContainer {
    width: 15%;
    padding: 5px;
    margin-left: 42.5%;
}

h1 {
    font-size: 40px !important;
}

.btn-usaa {
    width: 100%;
    font-size: 25px !important;
    color: #fff;
    background-color: #12395b !important;
    border-color: #12395b !important;
    white-space: normal !important;
}

.row {
    margin-bottom: .5em;
}

.space-1 {
    margin-bottom: .5em;
}

.space-2 {
    margin-bottom: 1em;
}

.space-3 {
    margin-bottom: 1.5em;
}

.space-4 {
    margin-bottom: 2em;
}

.space-5 {
    margin-bottom: 2.5em;
}

.space-5 {
    margin-bottom: 3em;
}

.center {
    text-align: center;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}